body {
    background-color: #EDF5E1;
}

.brand {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    font-weight: 700;
    color: #2E282A;
}

.earth-tone {
    color: #D95D39;
}

.navbar {
    border-bottom: 3px solid #D95D39;
    background-color: #264653;
}

.navbar-text {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    color: #F4A261;
}

.main-bg {
    background-color: #EDF5E1;
}

.light-bg {
    background-color: #FCF8E8;
}

.earth-tone-bg {
    background-color: #2E282A;
}

.dark-green {
    background-color: #264653;
}

.card {
    border: 2px solid #F4A261;
    background-color: #FCF8E8;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #E76F51;
}

.scale {
    width: 100%;
    height: auto;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
    background-color: #264653;
}

.masthead-text {
    background-color: #2E282A;
    color: white;
    position: relative;
}

.post-link {
    text-decoration: none;
    color: #264653;
}

.post-link:hover,
.page-link {
    color: #D95D39;
}

.btn-signup,
.btn-edit {
    background-color: #E76F51;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #E76F51;
}

.link {
    color: #F4A261;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #264653;
    text-decoration: underline;
}

.btn-like {
    color: #D95D39;
    border: none;
    background: transparent;
}

.btn-delete {
    color: #fff;
    background: #D95D39;
}

.btn-like:hover,
.btn-like:active {
    color: #D95D39;
    background: transparent;
    border: none;
}
